body
{
	background-image: url("dst.png");
	background-color:#202020;
	font-size:30px;
}

#container
{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}


#logo
{
	width:100%;
	font-size:200px;
	text-align:center;
}
#content
{
	width:100%;
	margin-top:3%;
}

#zaloguj
{
	text-align:center;
	width:40%;
	margin-right:9.5%;
	float:left;
	opacity: 0.8;
	background-color:#191919;
	border: 1px solid darkred;
	min-height: 350px;
	-webkit-box-shadow: 10px 10px 53px 9px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 53px 9px rgba(0,0,0,0.75);
box-shadow: 10px 10px 53px 9px rgba(0,0,0,0.75);
}

#zarejestruj
{
	text-align:center;
	border: 1px solid darkred;
	float:left;
	width:40%;
	margin-left:10%;
	background-color:#191919;
	min-height: 350px;
	opacity: 0.8;
	-webkit-box-shadow: 10px 10px 53px 9px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 53px 9px rgba(0,0,0,0.75);
box-shadow: 10px 10px 53px 9px rgba(0,0,0,0.75);
}

.socials
{
	background-color:#202020;
	clear:both;
	width: 100%;
	text-align: center;
	border-top: 10px solid #e65c1c;
	transition-duration: 0.4s;
}
.socials:hover
{
	border-radius:50px;
	background-color: #000;
	border-top: none;
	transition-duration: 0.4s;
}
.socialdivs
{
	width:900px;
	margin-left: auto;
	margin-right: auto;
}

.fb
{
	padding-top:20px;
	width: 250px;
	height: 155px;
	float: left;
	text-align: center;
	font-size:100px;
		transition-duration: 2s;
	margin-right:50px;
}

.fb:hover
{
	background-color: #4668b3;
	border-radius:100px;
	margin-top:40px;

}

.yt
{
	padding-top:20px;
	width: 250px;
	height: 155px;
	float: left;
	text-align: center;
	font-size:100px;
		transition-duration: 2s;
	margin-right:50px;
}

.yt:hover
{
	background-color: #d94348;
	border-radius:100px;
	margin-top:40px;

}

.tw
{
	padding-top:20px;
	width: 250px;
	height: 155px;
	float: left;
	text-align: center;
	font-size:100px;
		transition-duration: 2s;
		margin-right:50px;
}

.tw:hover
{

	background-color: #3095d3;
	border-radius:100px;
	margin-top:40px;
}


a.tilelink
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

input[type=submit]
{
	width: 50%;
	background-color: #800000;
	color: #000;
	border: 2px solid #000;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	cursor: pointer;
	margin-bottom:2%;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 10px 10px 2px rgba(0,0,0,0.64);
	-moz-box-shadow: 0px 10px 10px 2px rgba(0,0,0,0.64);
	box-shadow: 0px 10px 10px 2px rgba(0,0,0,0.64);
	border: 2px solid #000;
	background-color: #500000;
	color: #111111;
}

input[type=text],
input[type=password]
{
	width: 50%;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
}

input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 10px 10px 2px rgba(0,0,0,0.64);
	-moz-box-shadow: 0px 10px 10px 2px rgba(0,0,0,0.64);
	box-shadow: 0px 10px 10px 2px rgba(0,0,0,0.64);
	border: 2px solid #000;
	background-color: #ffb0b0;
	color: #000;
}

#content
{
	width:100%;
}
#zawartosc
{
	width:100%;
	padding:10px;
	clear:both;
	text-align:justify;
}
#footer
{
	
	width:1000px;
	color: #fff;
	background-color: #191919;
	text-align:center;
	border-top: 2px solid darkred;
}

button
{
	width: 200px;
	background-color: #e65c1c;
	color: #000;
	border: 2px solid #000;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	cursor: pointer;
}

button:focus
{
	-webkit-box-shadow: 0px 10px 10px 2px rgba(0,0,0,0.64);
	-moz-box-shadow: 0px 10px 10px 2px rgba(0,0,0,0.64);
	box-shadow: 0px 10px 10px 2px rgba(0,0,0,0.64);
	border: 2px solid #000;
	background-color: #b43a1b;
	color: #111111;
}


a.link
{
	text-decoration:none;
	color:#000;
}

a.rejestracja
{
	font-size:50px;
	color: maroon;
}





