
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-desktop:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-mail-1:before { content: '\e804'; } /* '' */
.icon-college:before { content: '\e810'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */